FRAUD_API_URL=http://fraud-sentinel:8000/predict

KAFKA_BOOTSTRAP=kafka:9092
KAFKA_GROUP_ID=fraud-persistence

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET_BRONZE=bronze
MINIO_BUCKET_SILVER=silver

MYSQL_HOST=mysql
MYSQL_USER=user
MYSQL_PASSWORD=password
MYSQL_DATABASE=lambda_db
